/** { outline: 1px solid red; }*/

html {
  text-align: center;
  font-family: helvetica;
  font-size: 14px;
}

body {
  background: linear-gradient(#FF8080, #80FF80);
/*  background: linear-gradient(#FFABAB, #AAFFAA);*/
/*  min-height: 100%;*/
}

h1 {
  border: thin solid white;
  padding-left: 2%;
  padding-right: 2%;
  color: white;
}

p {
  margin-left: 2%;
  margin-right: 2%;
}

ul {
  text-align: left;
  list-style: square;
}

a:visited {
  color: purple;
}

img {
  max-width: 75%;
}

table {
  display: inline-table;
}

th {
  padding: 2%;
}

table tr:nth-child(even){
  background: white;
}


a.ununderlined {
    text-decoration: none;
}

#comparison {
  background-image: url(screencap.png);
}

@media screen and (max-width: 400px) {
  body {
    font-size: .75em;
  }
}